body {
    text-align: center;
    background-image: url("https://static1.squarespace.com/static/52991946e4b06bb4b8f46779/t/55f8191ee4b0fb0e9ba809b5/1541714042695/");
}
img {
    width:180px
}
div {
    border: 2px dotted red;
    width: 50%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.yellow {
    border: 2px dotted yellow;
    width: 50%;
}
.vid{
    padding-top: 5px;
    border: 2px solid orange;
    width: 25%
}
.orange {
    border: 2px dotted orange;
}
.name{
    color: maroon;
    text-decoration: underline overline;
}
p{
    word-spacing: 2px;
    color:yellow
}
h1 {
    color: maroon;
    text-decoration: underline overline;
}